<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Mentify - Landing Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,600,700"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">Mentify</a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a href="{{url_for('admin')}}">Admin</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center" data-aos="fade-up">
        <div class="col-lg-6 intro-info order-lg-first order-last" data-aos="zoom-in" data-aos-delay="100">
          <h2>Grow & Guide<br>Find your<span> best mentors!</span></h2>
          <div>
            <a href="login" class="btn-get-started scrollto">Login</a>
            <a href="signup_main" class="btn-get-started scrollto">Sign Up</a>
          </div>
        </div>

        <div class="col-lg-6 intro-img order-lg-last order-first" data-aos="zoom-out" data-aos-delay="200">
          <img src="../static/assets/img/intro-img.svg" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row">
          <!-- <div class="col-lg-7 col-md-6"> -->
          <div class="about-content" data-aos="fade-left" data-aos-delay="100">
            <h2>About Us</h2>
            <h3>
              Welcome to Mentify, where connections flourish and growth
              thrives. Mentify is a dynamic platform dedicated to facilitating
              meaningful mentorship relationships that empower individuals to
              reach their full potential.
            </h3>
            <p>
              Mentify provides the tools and resources to connect you with
              mentors and mentees who can help you achieve your goals.
            </p>

            <ul>
              <li>
                <i class="bi bi-check-circle"></i> Community-Centric Approach:
                Mentify is built on the foundation of community support and
                collaboration.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Personalized Matching: We
                understand that every mentorship relationship is unique, so we
                try and provide you the exact attention needed.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Continuous Support: Our
                commitment to your success doesn't end after the initial
                match. Mentify provides ongoing support and resources to help
                you navigate your mentorship journey and achieve your personal
                and professional aspirations.
              </li>
            </ul>
          </div>
          <!-- </div> -->
        </div>
      </div>

    </section><!-- End About Section -->




    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <header class="section-header">
          <h3>Testimonials from Mentees</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="../static/assets/img/testimonial-1.jpg" class="testimonial-img" alt="">
                    <h3>Saul Goodman</h3>
                    <h4>Ceo &amp; Founder</h4>
                    <p>
                      Had an amazing time and learnt a lot from some of the
                      top mentors.
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="../static/assets/img/testimonial-2.jpg" class="testimonial-img" alt="">
                    <h3>Sara Wilsson</h3>
                    <h4>Designer</h4>
                    <p>
                      Finding a mentor who understood my unique challenges as
                      a woman in STEM seemed impossible until I discovered
                      Mentify. Through the platform, I connected with a mentor
                      who not only shared my professional interests but also
                      empowered me to break through barriers and pursue my
                      passions fearlessly. Mentify has been a beacon of
                      support and inspiration on my journey to success.
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="../static/assets/img/testimonial-3.jpg" class="testimonial-img" alt="">
                    <h3>Jena Karlis</h3>
                    <h4>Store Owner</h4>
                    <p>
                      I can't thank Mentify enough for connecting me with my
                      mentor. As a first-time entrepreneur, I faced numerous
                      obstacles and uncertainties. However, with the guidance
                      and wisdom of my mentor, I've gained the confidence and
                      skills needed to navigate the startup landscape. Mentify
                      provided the support system I needed to turn my dreams
                      into reality!
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="../static/assets/img/testimonial-4.jpg" class="testimonial-img" alt="">
                    <h3>Matt Brandon</h3>
                    <h4>Freelancer</h4>
                    <p>
                      Mentify has been a game-changer for me! As a recent
                      graduate navigating the complexities of starting my
                      career, I was unsure where to turn for guidance. Through
                      Mentify, I found an amazing mentor who provided
                      invaluable advice, support, and encouragement every step
                      of the way. I'm grateful for the opportunity to connect
                      with someone who truly cares about my growth and
                      development.
                    </p>
                  </div>
                </div><!-- End testimonial item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->



    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3>Meet the Team</h3>
          <p>Junihers Study Group 10</p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="../static/assets/img/yukta.jpg" class="img-fluid" alt="" />
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Yukta Rajapur</h4>
                  <span>Frontend Dev</span>
                  <div class="social"></div>
                </div>
              </div>
            </div>
          </div>

          <div
              class="col-lg-3 col-md-6"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="member">
                <img src="../static/assets/img/tarushi.jpeg" class="img-fluid" alt="" />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Tarushi Taneja</h4>
                    <span>Backend Dev</span>
                    <div class="social"></div>
                  </div>
                </div>
              </div>
            </div>

          

            <div
            class="col-lg-3 col-md-6"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <div class="member">
              <img src="../static/assets/img/vaishnovi.jpg" class="img-fluid" alt="" />
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Vaishnovi Arun</h4>
                  <span>Backend Dev</span>
                  <div class="social"></div>
                </div>
              </div>
            </div>
          </div>

          <div
              class="col-lg-3 col-md-6"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="member">
                <img src="../static/assets/img/riddhi.jpg" class="img-fluid" alt="" />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Riddhi</h4>
                    <span>Backend Dev</span>
                    <div class="social"></div>
                  </div>
                </div>
              </div>
            </div>

            <div
            class="col-lg-3 col-md-6"
            data-aos="fade-up"
            data-aos-delay="400"
          >
            <div class="member">
              <img src="../static/assets/img/rishita.jpg" class="img-fluid" alt="" />
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Rishita Rathi</h4>
                  <span>Backend Dev</span>
                  <div class="social"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="section-bg">

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Mentify 2024</strong>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>