<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Mentify - Dashboard</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../static/assets/img/favicon.png" rel="icon" />
    <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,600,700"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" rel="stylesheet" />
  </head>
  <style>
    li::marker {
      font-size: 0;
    }

    section {
      padding: 60px 0;
    }

    .carousel-item {
      height: 32rem;
      background: rgb(209, 237, 255);
      color: rgb(0, 0, 0);
      position: relative;
      background-position: center;
      background-size: 10px;
    }
    .overlay-image {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      background-position: right center;
      background-repeat: no-repeat;
      background-size: 30%;
      margin-right: 40px;
    }

    a {
      text-decoration: inherit;
      color: inherit;
      text-decoration: None;
    }
    a:hover {
      text-decoration: none;
      color: inherit;
    }
  </style>

  <body>
    <!-- ======= Header ======= -->
    <header
      id="header"
      class="fixed-top d-flex align-items-center header-transparent"
    >
      <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="/">Mentify</a></h1>
        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto active" href="{{ url_for('dashboard_mentee', username=username) }}">Home</a></li>
            <li><a  href="{{ url_for('profile_mentee', username=username,msg='') }}">Profile</a></li>
            <li><a class="nav-link scrollto active" href="{{ url_for('my_courses', username=username,msg='') }}">My Courses</a></li>
            <li><a href="{{ url_for('logout')}}">Logout</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>
    <!-- End Header -->
    <br />
    <main>
      <section id="services" class="services section-bg" style="margin-top: 6%">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h3>My Programs</h3>
            <p>View all you're programs you've enrolled for.</p>
          </header>

          

          <br />

          <div class="row g-5">
            {% for course_list in courses %}
            <div
              class="col-md-6 col-lg-4 wow bounceInUp"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="box">
                <div class="icon" style="background: rgb(209, 237, 255)">
                  <i class="bi bi-briefcase" style="color: #1985f0"></i>
                </div>
                
                <h3 class="title"><a href="{{url_for('messages')}}?course_id={{course_list['course_id']}}&username={{username}}&viewer=mentee">{{ course_list['course_name'] }}</a></h3>
                <h5 style="font-size: small">Course starts on : {{course_list.course_start}}</h5>
                <h5 style="font-size: small">Course ends on : {{course_list.course_end}}</h5>
                <h5 style="font-size: small">Price: {{course_list.course_price}} INR</h5>
                <p class="description">{{course_list.course_desc}}</p>
                
              </div>
            </div>
            {% endfor %}
            <!--<div
              class="col-md-6 col-lg-4 wow bounceInUp"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="box">
                <div class="icon" style="background: rgb(209, 237, 255)">
                  <i class="bi bi-bar-chart" style="color: #1985f0"></i>
                </div>
                <h3 class="title"><a href="">Course Name</a></h3>
                <h5 style="font-size: small">Course Duration:</h5>
                <h5 style="font-size: small">Price: 1000 INR</h5>
                <p class="description">description of course</p>
              </div>
            </div>
            <div
              class="col-md-6 col-lg-4 wow bounceInUp"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="box">
                <div class="icon" style="background: rgb(209, 237, 255)">
                  <i class="bi bi-book" style="color: #1985f0"></i>
                </div>
                <h3 class="title"><a href="">Course Name</a></h3>
                <h5 style="font-size: small">Course Duration:</h5>
                <h5 style="font-size: small">Price: 1000 INR</h5>
                <p class="description">description of course</p>
              </div>
            </div>
          </div>
        </div>
      </section>
       End Services Section -->
    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer" class="section-bg">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>Mentify 2024</strong>
        </div>
      </div>
    </footer>
    <!-- End  Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../static/assets/vendor/aos/aos.js"></script>
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../static/assets/js/main.js"></script>
  </body>
</html>
