<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>Mentify - Dashboard</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon" />
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,600,700"
    rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet" />
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet" />
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="/">Mentify</a></h1>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="{{url_for('dashboard_mentor',username=mentor['username'])}}">Home</a></li>
          <li>
            <a  href="{{url_for('dashboard_mentor',username=mentor['username'])}}">Profile</a>
          </li>
          <li>
            <a  href="{{ url_for('create_program', username=mentor['username']) }}">Create Program</a>
          </li>
          <!-- <li><a href="#services">Update Tags</a></li> -->
          <li><a href="/logout">Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>
  <!-- End Header -->

  <main style="margin-top: 10%">
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h3>Mentees enrolled in the course</h3>
        </header>

    

        <br />

        <div class="row g-5">
          {% for mentee in mentees %}
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="icon" style="background: rgb(209, 237, 255)">
                <i class="bi bi-person-circle" style="color: #1985f0"></i>
              </div>
              <h3 class="title"><a href="{{ url_for('profile_mentee', username=mentee['username']) }}">{{mentee['mentee_name']}}</a></h3>
              <p class="description" style="text-align: center;">{{mentee.interests}}</p>
              <h4 class="title"><a href="{{url_for('messages')}}?course_id={{course['course_id']}}&username={{mentee['username']}}&viewer=mentor">Communicate with Mentee</a></h4>
              <!-- <button class="btn btn-primary btn-md btn-block" type="submit" style="background: #00304e">
                  View Profile
              </button> -->
            </div>
          </div>
          {% endfor %}

          
          </div>
    </section>
    <br>
    
      <br>
      
    <!-- End Services Section -->
    <br>
    
  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="section-bg">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Mentify 2024</strong>
      </div>
    </div>
  </footer>
  <!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>
</body>

</html>